.button {
  padding: 4px 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: 0 !important;
}
.button-style-one {
  background: #ffffff;
  color: #282828;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.4);
  /* border:0px solid #a45dce; -webkit-border-radius: 23px; -moz-border-radius: 23px;border-radius: 23px;font-size:15px;font-family:arial, helvetica, sans-serif; padding: 10px 30px 10px 30px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #F5F5F5;
    background-color: #BC88DB; background-image: -webkit-gradient(linear, left top, left bottom, from(#BC88DB), to(#9DB0FD));
    background-image: -webkit-linear-gradient(top, #BC88DB, #9DB0FD);
    background-image: -moz-linear-gradient(top, #BC88DB, #9DB0FD);
    background-image: -ms-linear-gradient(top, #BC88DB, #9DB0FD);
    background-image: -o-linear-gradient(top, #BC88DB, #9DB0FD);
    background-image: linear-gradient(to bottom, #BC88DB, #9DB0FD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#BC88DB, endColorstr=#9DB0FD); */
}

.button-style-one:hover {
  background: #cecece;
}

.button-style-two {
  background-color: #1e998c;
  color: white;
  padding: 4px 30px;
}

.button-style-two:hover,
.button-style-two:focus,
.button-style-two:active {
  color: #ffffff;
}

.button-style-three {
  background-color: #a00707;
  color: white;
  padding: 4px 30px;
}

.button-style-three:hover,
.button-style-three:focus,
.button-style-three:active {
  color: #ffffff;
}

.button-style-dummy {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button-style-disabled {
}
