.istox-alert {
}

.istox-alert .alert {
  border-radius: 6px;
  margin-bottom: 2rem;
  white-space: pre-wrap;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.istox-alert .icon {
  font-size: 2rem;
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
}
