.blockchain-transaction-container {
  height: 40px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(60px);
  transition: transform 400ms ease-in;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  background-color: map-get($colors, primaryDark);

  .content {
    transition: opacity 200ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    a {
      div {
        color: white;
        text-decoration: underline;
      }
    }

    &.invi {
      opacity: 0;
    }
  }

  &.slide-in {
    transform: translateY(0);
  }

  &.slide-out {
    transform: translateY(60px);
  }
}
