:global(.Toastify__toast-container--top-right) {
  top: 6em !important;
}

.istox-blockchain-toast-body {
  font-size: 1rem;
  margin: auto !important;
  width: 100%;
}

.istox-blockchain-toast-progress {
  font-size: 1rem;
  background: map-get($colors, primaryDark) !important;
}

.istox-blockchain-toast {
  min-height: auto !important;
  padding: 1rem !important;

  &.success {
    background-color: #65c366de !important;
    color: #fafafa !important;
  }

  &.danger {
    background-color: #f5222dd9 !important;
    color: #fafafa !important;
  }

  .main-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .purpose {
    font-weight: 500;
    font-size: 0.9rem;
    white-space: normal;
    overflow-wrap: break-word;
    color: #fafafa;
    padding-left: 1rem;
  }

  // .close-button {
  //   .button {
  //     background-color: transparent;
  //     float: right;
  //     border: none;
  //     color: map-get($colors, primary);
  //     padding: 0;
  //     position: absolute;
  //   }
  //   color: map-get($colors, primaryGreyDark);
  //   position: absolute !important;
  //   font-size: 1.1428571428571428rem;
  //   right: 0.5rem;
  //   top: 0.5rem;
  //   cursor: pointer;
  //   z-index: 1;
  // }

  .item {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 10px;
  }

  .view-more {
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
  }

  .column {
    float: left;
  }

  .left {
    width: 10%;
  }

  .right {
    width: 90%;
    text-align: left !important;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
}

.istox-blockchain-toast a,
.istox-blockchain-toast a:hover,
.istox-blockchain-toast a:active {
  text-decoration: none !important;
}

.istox-blockchain-toast .item:last-of-type {
  margin-bottom: 0px;
}

.istox-blockchain-toast button {
  position: relative;
  color: white;
}
