$borderRadius: 0;
$primary: #001b56;
$secondary: #3be4c1;
$success: map-get($colors, success);
$info: map-get($colors, info);
$warning: map-get($colors, warning);
$danger: map-get($colors, danger);

.fluid {
  width: 100%;
  .button {
    width: 100%;
  }
}

.icon {
  .button {
    background-color: map-get($colors, primaryAlt);
    color: map-get($colors, primaryGreyDark);
    border-radius: $borderRadius;
    font-size: inherit;
    line-height: 0;
    padding: 0.714rem;
    min-width: 0;

    .svg {
      margin-right: 0;
    }
  }
}

.button {
  background-color: map-get($colors, primary);
  background-image: none;
  padding: 0.4286rem;
  outline: none;
  color: map-get($colors, primaryAlt);
  cursor: pointer;
  border-radius: $borderRadius;
  font-style: inherit;
  font-weight: 600;
  text-decoration: inherit;
  font-family: inherit;
  min-width: 7.857rem;
  border: 2px solid map-get($colors, primary);
  font-weight: 600;
  transition: $transitionLinear;
  display: flex;
  align-items: center;
  justify-content: center;

  &.tiny {
    padding: 0.1429rem;
  }

  &.small {
    padding: 0.2857rem;
  }

  &.large {
    padding: 0.5714rem;
  }

  .anticon {
    display: inline-block;
    margin: 0;
  }

  .icon {
    display: inline-block;
    margin: 0 0.4rem 0 0;
  }

  .sub-text {
    position: relative;
  }

  &:hover {
    background-color: map-get($colors, primaryActive);
  }

  &.primary {
    background-color: map-get($colors, primary);
    background-image: none;
    color: map-get($colors, primaryAlt);
    border: 2px inset map-get($colors, primary);

    &:not([disabled]):not(.loading):hover {
      background-color: map-get($colors, primaryActive);
      border: 2px solid map-get($colors, primaryActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, primary);

      &:not([disabled]):not(.loading):hover {
        background-color: map-get($colors, primary);
        border: 2px inset map-get($colors, primary);
        color: map-get($colors, primaryAlt);
      }
    }
  }

  &.secondary {
    background-color: map-get($colors, secondary);
    background-image: none;
    color: map-get($colors, primary);
    border: 2px solid map-get($colors, secondary);

    &:not([disabled]):not(.loading):hover {
      background-color: map-get($colors, secondaryActive);
      border: 2px solid map-get($colors, secondaryActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);

      &:not([disabled]):not(.loading):hover {
        background-color: map-get($colors, secondary);
        border: 2px solid map-get($colors, secondary);
      }
    }
  }

  &.disabled {
    background-color: map-get($colors, primaryGreyLighter);
    background-image: none;
    color: map-get($colors, primaryDark);
    border: 2px solid map-get($colors, primaryGreyLighter);

    &:not([disabled]):not(.loading):hover {
      background-color: map-get($colors, primaryGreyLight);
      border: 2px solid map-get($colors, primaryGreyLight);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, primaryDark);
      border: 2px solid map-get($colors, primaryGreyLighter);

      &:not([disabled]):not(.loading):hover {
        background-color: map-get($colors, primaryGreyLighter);
        border: 2px solid map-get($colors, primaryGreyLighter);
        color: map-get($colors, primaryDark);
      }
    }
  }

  &.info {
    background-color: map-get($colors, info);
    background-image: none;
    border: 2px solid map-get($colors, info);

    &:not([disabled]):not(.loading):hover {
      background-color: map-get($colors, infoActive);
      border: 2px solid map-get($colors, infoActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, info);

      &:not([disabled]):not(.loading):hover {
        background-color: map-get($colors, info);
        border: 2px solid map-get($colors, info);
        color: map-get($colors, primaryAlt);
      }
    }
  }

  &.success {
    background-color: map-get($colors, success);
    background-image: none;
    border: 2px solid map-get($colors, success);

    &:not([disabled]):not(.loading):hover {
      background-color: map-get($colors, successActive);
      border: 2px solid map-get($colors, successActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, success);

      &:not([disabled]):not(.loading):hover {
        background-color: map-get($colors, success);
        border: 2px solid map-get($colors, success);
        color: map-get($colors, primaryAlt);
      }
    }
  }

  &.warning {
    background-color: map-get($colors, warning);
    background-image: none;
    border: 2px solid map-get($colors, warning);

    &:not([disabled]):not(.loading):hover {
      background-color: map-get($colors, warningActive);
      border: 2px solid map-get($colors, warningActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, warning);

      &:not([disabled]):not(.loading):hover {
        background-color: map-get($colors, warning);
        border: 2px solid map-get($colors, warning);
        color: map-get($colors, primaryAlt);
      }
    }
  }

  &.danger {
    background-color: map-get($colors, danger);
    background-image: none;
    border: 2px solid map-get($colors, danger);

    &:not([disabled]):not(.loading):hover {
      background-color: map-get($colors, dangerActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, danger);

      &:not([disabled]):not(.loading):hover {
        background-color: map-get($colors, danger);
        border: 2px solid map-get($colors, danger);
        color: map-get($colors, primaryAlt);
      }
    }
  }

  &.basic {
    background-color: transparent !important;
    border: none !important;
  }
}

.button[disabled],
.button.loading {
  opacity: 0.8;
}

.button:focus,
.button:active:focus,
.button.active:focus {
  outline: none;
}
