$borderRadius: 0;

.fluid {
  width: 100%;
  .button {
    width: 100%;
  }
}

.icon {
  .button {
    background-color: map-get($colors, primaryAlt);
    color: map-get($colors, primaryGreyDark);
    border-radius: $borderRadius;
    font-size: inherit;
    line-height: 0;
    padding: 0.714rem;
    min-width: 0;

    .svg {
      margin-right: 0;
    }
  }
}

.button {
  background-color: map-get($colors, primary);
  background-image: none;
  padding: 0.4286rem;
  outline: none;
  color: map-get($colors, primaryAlt);
  cursor: pointer;
  border-radius: $borderRadius;
  font-style: inherit;
  font-weight: 600;
  text-decoration: inherit;
  font-family: inherit;
  min-width: 7.857rem;
  border: 2px solid map-get($colors, primary);
  font-weight: 600;
  transition: 0.3s ease-in-out;

  &.tiny {
    padding: 0.1429rem;
  }

  &.small {
    padding: 0.2857rem;
  }

  &.large {
    padding: 0.5714rem;
  }

  &.loading {
    > div {
      margin: 0 0.4rem 0 0;
      position: relative;
      top: 3px;
    }
  }

  .icon {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }

  .sub-text {
    position: relative;
  }

  &:hover {
    background-color: map-get($colors, primaryActive);
  }

  &.primary {
    background-color: map-get($colors, primary);
    background-image: none;
    color: map-get($colors, primaryAlt);
    border: 2px solid map-get($colors, primary);

    &.disabled {
      background-color: map-get($colors, primary);
    }

    &:not([disabled]):hover {
      background-color: map-get($colors, primaryActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, primary);

      &:not([disabled]):hover {
        background-color: map-get($colors, primaryBackground);
        border: 2px solid map-get($colors, primaryActive);
        color: map-get($colors, primaryActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, primary);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.secondary {
    background-color: map-get($colors, secondary);
    background-image: none;
    color: map-get($colors, primary);
    border: 2px solid map-get($colors, secondary);

    &:not([disabled]):hover {
      background-color: map-get($colors, secondaryActive);
      color: map-get($colors, primaryActive);
    }

    &.loading {
      > div {
        border-color: map-get($colors, primary);
        border-bottom-color: transparent;
      }
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, primary);

      &:not([disabled]):hover {
        background-color: map-get($colors, secondaryBackground);
        border: 2px solid map-get($colors, secondaryActive);
        color: map-get($colors, primaryActive);
      }
    }
  }

  &.disabled {
    background-color: map-get($colors, primaryGreyLighter);
    background-image: none;
    color: map-get($colors, primaryDark);
    border: 2px solid map-get($colors, primaryGreyLighter);

    &:not([disabled]):hover {
      background-color: map-get($colors, primaryAltBackground);
      color: map-get($colors, primaryDark);
    }

    &.loading {
      > div {
        border-color: map-get($colors, primaryDark);
        border-bottom-color: transparent;
      }
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, primaryDark);

      &:not([disabled]):hover {
        background-color: map-get($colors, primaryAltBackground);
        border: 2px solid map-get($colors, primaryGreyLighter);
        color: map-get($colors, primaryDark);
      }
    }
  }

  &.info {
    background-color: map-get($colors, info);
    background-image: none;
    border: 2px solid map-get($colors, info);

    &:not([disabled]):hover {
      background-color: map-get($colors, infoActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, info);

      &:not([disabled]):hover {
        background-color: map-get($colors, infoBackground);
        border: 2px solid map-get($colors, infoActive);
        color: map-get($colors, infoActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, info);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.success {
    background-color: map-get($colors, success);
    background-image: none;
    border: 2px solid map-get($colors, success);

    &:not([disabled]):hover {
      background-color: map-get($colors, successActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, success);

      &:not([disabled]):hover {
        background-color: map-get($colors, successBackground);
        border: 2px solid map-get($colors, successActive);
        color: map-get($colors, successActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, success);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.warning {
    background-color: map-get($colors, warning);
    background-image: none;
    border: 2px solid map-get($colors, warning);

    &:not([disabled]):hover {
      background-color: map-get($colors, warningActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, warning);

      &:not([disabled]):hover {
        background-color: map-get($colors, warningBackground);
        border: 2px solid map-get($colors, warningActive);
        color: map-get($colors, warningActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, warning);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.danger {
    background-color: map-get($colors, danger);
    background-image: none;
    border: 2px solid map-get($colors, danger);

    &:not([disabled]):hover {
      background-color: map-get($colors, dangerActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, danger);

      &:not([disabled]):hover {
        background-color: map-get($colors, dangerBackground);
        border: 2px solid map-get($colors, dangerActive);
        color: map-get($colors, dangerActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, danger);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.basic {
    background-color: transparent !important;
    border: none !important;
  }
}

.button[disabled] {
  opacity: 0.9;
}

.button:focus,
.button:active:focus,
.button.active:focus {
  outline: none;
}
