$borderRadius: 6.25rem;

.fluid {
  width: 100%;
  .button {
    width: 100%;
  }
}

.icon {
  .button {
    background-color: map-get($colors, primaryAlt);
    color: map-get($colors, primaryGreyDark);
    border-radius: 50%;
    font-size: inherit;
    box-shadow: none;
    line-height: 0;
    padding: 0.714rem;
    min-width: 0;

    .svg {
      margin-right: 0;
    }
  }
}

.button {
  background-color: map-get($colors, primary);
  background-image: none;
  padding: 0.714rem;
  outline: none;
  color: map-get($colors, primaryAlt);
  cursor: pointer;
  border-radius: $borderRadius;
  font-style: inherit;
  font-weight: 600;
  text-decoration: inherit;
  font-family: inherit;
  box-shadow: $boxShadow;
  min-width: 8.571rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;

  &.tiny {
    padding: 0.571rem;
  }

  &.medium {
    padding: 0.857rem;
  }

  &.large {
    padding: 1rem;
  }

  &.loading {
    > div {
      margin-right: 0.4rem;
    }
  }

  .icon {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }

  .sub-text {
    position: relative;
  }

  &:hover {
    background-color: map-get($colors, primaryActive);
  }

  &.primary {
    &.outline {
      background-color: map-get($colors, primaryAlt);
      border: 1px solid map-get($colors, primary);
      color: map-get($colors, primary);

      &:hover {
        background-color: map-get($colors, primaryBackground);
        border: 1px solid map-get($colors, primaryActive);
        color: map-get($colors, primaryActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, primary);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.disabled {
    background-color: map-get($colors, primary);
    background-image: none;
    opacity: 0.7;

    &:hover {
      background-color: map-get($colors, primaryActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      border: 1px solid map-get($colors, primary);
      color: map-get($colors, primary);

      &:hover {
        background-color: map-get($colors, primaryBackground);
        border: 1px solid map-get($colors, primaryActive);
        color: map-get($colors, primaryActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, primary);
          border-bottom-color: transparent;
        }
      }
    }

    &:hover {
      background-color: map-get($colors, primaryActive);
    }
  }

  &.secondary {
    background-color: map-get($colors, primaryGreyLight);
    background-image: none;
    color: map-get($colors, primaryGreyDark);

    &:hover {
      background-color: map-get($colors, primaryGreyActive);
    }

    &.loading {
      > div {
        border-color: map-get($colors, primaryGreyDarkActive);
        border-bottom-color: transparent;
      }
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      border: 1px solid map-get($colors, primaryGreyDark);
      color: map-get($colors, primaryGreyDark);

      &:hover {
        background-color: map-get($colors, primaryGreyDarkBackground);
        border: 1px solid map-get($colors, primaryGreyDarkActive);
        color: map-get($colors, primaryGreyDarkActive);
      }
    }
  }

  &.info {
    background-color: map-get($colors, info);
    background-image: none;

    &:hover {
      background-color: map-get($colors, infoActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      border: 1px solid map-get($colors, info);
      color: map-get($colors, info);

      &:hover {
        background-color: map-get($colors, infoBackground);
        border: 1px solid map-get($colors, infoActive);
        color: map-get($colors, infoActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, info);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.success {
    background-color: map-get($colors, success);
    background-image: none;

    &:hover {
      background-color: map-get($colors, successActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      border: 1px solid map-get($colors, success);
      color: map-get($colors, success);

      &:hover {
        background-color: map-get($colors, successBackground);
        border: 1px solid map-get($colors, successActive);
        color: map-get($colors, successActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, success);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.warning {
    background-color: map-get($colors, warning);
    background-image: none;

    &:hover {
      background-color: map-get($colors, warningActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      border: 1px solid map-get($colors, warning);
      color: map-get($colors, warning);

      &:hover {
        background-color: map-get($colors, warningBackground);
        border: 1px solid map-get($colors, warningActive);
        color: map-get($colors, warningActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, warning);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.danger {
    background-color: map-get($colors, danger);
    background-image: none;

    &:hover {
      background-color: map-get($colors, dangerActive);
    }

    &.outline {
      background-color: map-get($colors, primaryAlt);
      border: 1px solid map-get($colors, danger);
      color: map-get($colors, danger);

      &:hover {
        background-color: map-get($colors, dangerBackground);
        border: 1px solid map-get($colors, dangerActive);
        color: map-get($colors, dangerActive);
      }

      &.loading {
        > div {
          border-color: map-get($colors, danger);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &.outline {
    box-shadow: none;
  }

  &.basic {
    background-color: transparent !important;
    box-shadow: none;
    border: none !important;
  }

  &.flat {
    box-shadow: none;
    border: none;
  }
}

.button:focus,
.button:active:focus,
.button.active:focus {
  outline: none;
}
.button:active,
.button.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}
