.card {
  border: 1px solid map-get($colors, primaryGrey);
  background: #ffffff;
  display: inline-block;
  border-radius: 0.375rem;
  box-shadow: $boxShadow;
  margin: 0 1rem 1rem 0;
  text-align: center;
  position: relative;

  .leftIcon {
    position: absolute;
    left: 5px;
    top: 5px;
  }

  .rightIcon {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &:hover {
    border: 1px solid map-get($colors, primary);
  }

  img {
    float: none;
    display: block;
    width: auto;
    height: auto;
    line-height: 1;
    padding: 0;
    font-size: 3em;
    margin: 0 auto 0.5rem;
    opacity: 1;
  }

  svg {
    vertical-align: middle;
  }

  > div {
    min-width: 0;
    width: auto;
    display: block;
  }
}
