.card {
  border: 1px solid map-get($colors, primaryGrey);
  background: #ffffff;
  display: inline-block;
  border-radius: 0.375rem;
  box-shadow: $boxShadow;
  margin: 0 1rem 1rem 0;
  text-align: center;
  position: relative;
  min-width: 15rem;
  padding: 1rem;

  .icon {
    display: inline-grid;
  }

  .card-top-left-icon {
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
    font-size: 1.429rem;
  }

  .card-middle-icon {
    font-size: 2.857rem;
  }

  .card-top-right-icon {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    font-size: 1.429rem;
  }

  .card-title {
    padding-top: 1rem;
    font-size: 1.143rem;
    font-weight: 500;
  }

  &:hover {
    border: 1px solid map-get($colors, primary);
  }

  img {
    float: none;
    display: block;
    width: auto;
    height: auto;
    line-height: 1;
    padding: 0;
    font-size: 3em;
    margin: 0 auto 0.5rem;
    opacity: 1;
  }

  svg {
    vertical-align: middle;
  }

  > div {
    min-width: 0;
    width: auto;
    display: block;
  }
}
