// @import '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css';
:root {
  font-size: $base;
}

body,
#reactContainer {
  margin: 0;
  min-height: 100%;
  background: map-get($colors, primaryGreyLight);
  line-height: normal;
  font-size: $base;
  display: flex;
  flex-direction: column;
}

html,
body,
#reactContainer {
  height: 100%;
  font-family: map-get($typography, font);
}

#reactContainer {
  display: flex;
  flex-direction: column;
}

.istox-root {
  flex: 1 0 auto;
  padding-top: $headerHeight;
}

.istox-wrapper {
  flex: 1 0 auto;
}

*:focus {
  outline: none !important;
}

.istox-footer-container {
  flex-shrink: 0;
}

html {
  height: 100%;
}

h1 {
  font-size: 2.857142857142857rem; // 40px
}
h2 {
  font-size: 2.142857142857143rem; // 30px
}
h3 {
  font-size: 1.7142857142857142rem; // 24px
}
h4 {
  font-size: 1.5rem; // 21px
}
h5 {
  font-size: 1.2857142857142858rem; // 18px
}
h6 {
  font-size: 1.1428571428571428rem; // 16px
}
p,
article {
  font-size: 1rem; // 14px
  margin: 0;
}
.tiny {
  font-size: 0.857rem !important; // 12px
}
.small {
  font-size: 1rem !important; // 14px
}
.medium {
  font-size: 1.1428571428571428rem !important; // 16px
}
.large {
  font-size: 1.2857142857142858rem !important; // 18px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: inherit;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  &.hidden {
    visibility: none;
  }
  display: inline-block;
}

.header {
  position: fixed;
  min-width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

.normal-text {
  font-weight: 300;
}

.light-bold,
.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.vertical-align-sub {
  vertical-align: sub;
}

.vertical-align-middle {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.none {
  float: none !important;
  margin: auto !important;
}

.right {
  float: right !important;
  margin-left: auto !important;
}

.left {
  float: left !important;
  margin-right: auto !important;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-50 {
  flex: 50%;
}

.width-50 {
  width: 50%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  $mq-media-query: 'screen and';

  @if $mq-breakpoint == landscape or $mq-breakpoint == portrait {
    $mq-media-query: '#{$mq-media-query} (orientation: #{$mq-breakpoint})';
  } @else if $mq-breakpoint == retina {
    $mq-media-query: '#{$mq-media-query} (-webkit-min-device-pixel-ratio: 2),'+'#{$mq-media-query} (min-resolution: 2dppx)';
  } @else {
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
      $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }
    $mq-media-query: '#{$mq-media-query} (max-width: #{$mq-breakpoint})';
  }

  @media #{$mq-media-query} {
    @content;
  }
}

@include mq(retina) {
}

@include mq(lg) {
}

@include mq(md) {
}

@include mq(sm) {
}

@include mq(xs) {
}
