// sample to use map-get
// background: map-get($colors, primary);

body {
  margin: 0;
  min-height: 100%;
  background: #f9f9f9;
  font-family: $font;
  line-height: normal;
  font-size: 1rem;
}

*:focus {
  outline: none !important;
}

#reactContainer {
  height: 100vh;
  padding-top: $headerHeight;
}

html {
  height: 100%;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: map-get($colors, primaryDark);
}

.header {
  position: fixed;
  height: 67px; /* must be same value with body pad top */
  min-width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.inline-block {
  display: inline-block;
}

.normal-text {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.light-bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

/** to set vertical align of inline block object center vertically */
.vertical-align-sub {
  vertical-align: sub;
}

.vertical-align-middle {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.right {
  float: right;
}

.left {
  float: left;
}
