.confirm-container {
  padding: 20px;
  text-align: center;

  .confirm-cancel {
    margin-right: 1rem !important;
  }

  .icon-container {
    font-size: 6rem;
    color: map-get($colors, primary);
  }

  .content-container {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .buttonsContainer {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.blocking-load-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;

  .loading-icon-container {
    width: 100%;
    height: 100px;
    position: relative;
  }
}
