.istox-root {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.istox-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@mixin root($screenMinWidth, $rootWidth) {
  @media (min-width: $screenMinWidth) {
    .istox-wrapper {
      max-width: $rootWidth;
    }
  }
}

@include root(map-get($breakpoints, tiny), map-get($breakpoints, tiny));
@include root(map-get($breakpoints, small), map-get($breakpoints, small));
@include root(map-get($breakpoints, medium), map-get($breakpoints, medium));
@include root(map-get($breakpoints, large), map-get($breakpoints, medium));
@include root(map-get($breakpoints, big), map-get($breakpoints, large));
@include root(map-get($breakpoints, huge), map-get($breakpoints, big));
