.istox-root {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.istox-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@mixin root($screenMinWidth, $rootWidth) {
  @media (min-width: $screenMinWidth + 'px') {
    .istox-wrapper {
      max-width: $rootWidth;
    }
  }
}

@include root(map-get($breakpoints, tiny), 320px);
@include root(map-get($breakpoints, small), 480px);
@include root(map-get($breakpoints, medium), 768px);
@include root(map-get($breakpoints, large), 980px);
@include root(map-get($breakpoints, big), 1100px);
@include root(map-get($breakpoints, huge), 1200px);
