.ant-calendar-input-wrap {
  display: none;
}

.ant-picker-content th {
  color: #000000;
}

.ant-picker-super-prev-icon::before {
  border: 0 solid #aaa;
  width: 8px;
  height: 8px;
}

.ant-picker-header-view {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

a.ant-picker-today-btn {
  color: #000000;
}

.ant-calendar-picker {
  width: 0px;
  position: absolute;
  left: 0;
  top: 42px;
  z-index: 1;
}

.date-input {
  width: 100%;
  position: relative;

  .anticon {
    position: absolute;
    right: 0.5rem;
    top: 12px;
    z-index: 20;
    color: map-get($colors, primaryGreyDark) !important;
  }

  .anticon {
    &:hover {
      color: map-get($colors, primaryDark) !important;
    }
  }

  input[disabled] {
    color: map-get($colors, primaryGreyDark);
    cursor: not-allowed;
  }
}

.datepicker-calender-container {
  pointer-events: none;
  position: absolute;
  right: 0rem;
  top: 8px;
}

.date-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column-gap: 1rem;
}

.ant-calendar,
.ant-picker-panel-container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 0px;
  border: 1px solid rgba(125, 125, 125, 0.1);
  border-radius: 0;
  margin-top: -2px;
}

.borddered {
  .ant-calendar {
    margin-top: -1px;
  }
}

.ant-calendar-date:hover {
  background: map-get($colors, secondaryBackground);
}

.ant-calendar-year-panel-year:hover {
  background: map-get($colors, secondaryBackground);
}

.ant-calendar-selected-date .ant-calendar-date:hover,
.ant-calendar-selected-start-date .ant-calendar-date:hover,
.ant-calendar-selected-end-date .ant-calendar-date:hover .ant-picker-cell-inner:hover {
  background: map-get($colors, secondaryBackground);
}

.ant-calendar-time-picker-select li:hover {
  background: map-get($colors, secondaryBackground);
}

.ant-calendar-month-panel-month:hover,
.ant-picker-cell-inner:hover {
  background: map-get($colors, secondaryBackground);
}

.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
  background: map-get($colors, secondary);
}

.ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade {
  background: map-get($colors, secondary);
}

.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month {
  background: map-get($colors, secondary);
}

.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month:hover {
  background: map-get($colors, secondaryActive);
}

.ant-calendar-time-picker-select-option-selected {
  background: map-get($colors, secondary);
}

.ant-calendar-header a:hover {
  color: map-get($colors, secondary);
}

.ant-calendar-today .ant-calendar-date {
  color: map-get($colors, secondary);
  border-color: map-get($colors, secondary);
  background: map-get($colors, primaryAlt);
}

.ant-calendar-today .ant-calendar-date:hover {
  color: map-get($colors, primaryAlt);
  border-color: map-get($colors, secondary);
  background: map-get($colors, secondary);
}

.ant-calendar-selected-date.ant-calendar-selected-day {
  .ant-calendar-date {
    color: map-get($colors, primaryAlt);
    border-color: map-get($colors, secondary);
    background: map-get($colors, secondary);
  }
}

.ant-calendar-time-picker-select li:focus {
  color: map-get($colors, primaryAlt);
}

.ant-calendar-time-picker-select-option-selected {
  background: map-get($colors, primaryAlt);
}

.ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date {
  color: map-get($colors, primaryAlt);
  background: map-get($colors, secondary);
}

.ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date:hover,
.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date:hover {
  background: map-get($colors, secondaryActive);
}

li.ant-calendar-time-picker-select-option-selected {
  background: map-get($colors, secondary);
  color: map-get($colors, primaryAlt);
}

.ant-calendar .ant-calendar-ok-btn {
  border-color: map-get($colors, secondary);
  background: map-get($colors, secondary);
}

.ant-calendar .ant-calendar-ok-btn:hover {
  border-color: map-get($colors, secondaryActive);
  background: map-get($colors, secondaryActive);
}

.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year {
  background: map-get($colors, secondary);
}

.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year:hover {
  background: map-get($colors, secondaryActive);
}

.ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade:hover {
  background: map-get($colors, secondaryActive);
}

.ant-calendar-decade-panel-decade:hover {
  background: map-get($colors, secondaryBackground);
}

.ant-calendar-range .ant-calendar-in-range-cell::before {
  background: map-get($colors, secondaryBackground);
}

li.ant-calendar-time-picker-select-option-selected:hover {
  background: map-get($colors, secondaryActive);
}

.ant-calendar-time .ant-calendar-footer {
  z-index: 9;
  background: #fff;
}

.ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date::before {
  border: 0;
}

.ant-calendar-disabled-cell.ant-calendar-selected-day .ant-calendar-date::before {
  background: transparent;
}

//---------------------------------------------------------------------
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: map-get($colors, secondary);

  &:before {
    border: none;
  }
}

.ant-picker-ok > button {
  background: map-get($colors, secondary);
  border: none;
  &:hover {
    background: map-get($colors, secondaryActive);
  }
  > span {
    color: white;
  }
}

.ant-picker-cell-inner:hover {
  background: map-get($colors, secondaryBackground);
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner {
  &::before {
    border: 1px solid map-get($colors, secondary);
    color: map-get($colors, secondary);
  }
}

.ant-picker-today-btn:hover {
  color: #000000;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before,
.ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-cell-range-hover-start::before,
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
.ant-picker-panel
  > :not(.ant-picker-date-panel)
  .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before,
.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: map-get($colors, secondaryBackground);
}
