:global(.react-datepicker) {
  font-family: inherit;
  font-size: 0.75rem;
}

:global(.react-datepicker__time-list-item) {
  height: 23px !important;
  padding: 5px 1px !important;
  font-size: 0.65rem;
  font-weight: bold;
}

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container),
:global(.react-datepicker__input-container) > input {
  width: 100%;
}

:global(.react-datepicker__input-container) > input {
  padding: 8px 0;
}

.datepicker-calender-container {
  pointer-events: none;
  position: absolute;
  right: 0rem;
  top: 8px;
}
