.uploader-container {
  position: relative;
  height: 100%;
  width: 100%;

  .clear-upload {
    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 1.5rem;
    display: none;
    color: map-get($colors, primary);
    cursor: pointer;
  }
  &:hover {
    .clear-upload {
      display: block;
    }
  }
}

.uploader-viewer {
  position: absolute;
  top: 5px;
  right: 5px;
  color: map-get($colors, primaryGreyDark);
  cursor: pointer;
}
.uploader-viewer:hover {
  color: map-get($colors, primary);
}

:global(.ant-spin-nested-loading > div > .ant-spin) {
  background: #fff;
  border: 2px dashed map-get($colors, primaryGreyLight);
}
.uploader {
  display: block;
  cursor: pointer;
  height: 100%;
  border: 2px dashed map-get($colors, primaryGreyLight);
  position: relative;
  width: 100%;

  .file-icon {
    font-size: 5rem;
  }

  .uploader-footer {
    float: left;
    width: 100%;
  }

  .uploader-label {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: map-get($colors, primaryGreyDarker);
    padding: 0 0.5rem;
    color: map-get($colors, primaryAlt);
    z-index: 999;
  }

  &.disabled {
    border: 0;
  }

  input {
    display: none !important;
  }

  & img,
  & .icon {
    pointer-events: none;
  }

  .icon {
    color: map-get($colors, primaryGreyDark);
    font-size: 5rem;
    color: map-get($colors, info);
  }

  .check {
    position: absolute;
    bottom: -13px;
    font-size: 3rem;
    right: -17px;
    color: map-get($colors, success);
    font-size: 3rem;
  }

  img {
    opacity: 1;
    max-height: 100%;
    max-width: 100%;
  }
}

.error {
  .uploader {
    border: 3px dashed map-get($colors, danger);
    background-color: rgba(220, 53, 69, 0.1);
  }
}
