.uploader {
  align-items: center;
  background-color: #e9f4fc;
  cursor: pointer;
  display: flex;
  height: 12rem;
  justify-content: center !important;
  border: 3px dashed #2c97e2;
  position: relative;
  width: 15rem;
  border-radius: 0.714rem;

  span {
    position: absolute;
    text-align: center;
    bottom: 0.5rem;
    color: map-get($colors, primaryLight);
  }

  input {
    display: none;
  }

  & img,
  & .icon {
    pointer-events: none;
  }

  .icon {
    color: map-get($colors, primaryGreyDark);
    font-size: 5rem;
    color: #2c97e2;
  }

  .check {
    position: absolute;
    bottom: -13px;
    font-size: 3rem;
    right: -17px;
    color: map-get($colors, success);
    font-size: 3rem;
  }

  img {
    opacity: 1;
    max-height: 100%;
    max-width: 100%;
    margin: 0.5rem;
  }
}
