.uploader-container {
  position: relative;
  height: 100%;
  width: 100%;

  .clear-upload {
    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 1.5rem;
    display: none;
    color: map-get($colors, primary);
    cursor: pointer;
  }
  &:hover {
    .clear-upload {
      display: block;
    }
  }
}

.uploader-file-name {
  margin: 0.5rem 0;
}

.uploader-change-button,
.uploader-delete-button {
  position: absolute;
  right: 0;
  top: -1.5rem;
  cursor: pointer;
  color: map-get($colors, primaryDark);
  font-weight: 600;
}

.uploader-change-button:hover,
.uploader-delete-button:hover {
  color: map-get($colors, primaryActive);
}

.uploader-delete-button {
  right: 60px;
}

.uploader-viewer {
  position: absolute;
  top: 5px;
  right: 5px;
  color: map-get($colors, primaryGreyDark);
  cursor: pointer;
}
.uploader-viewer:hover {
  color: map-get($colors, primary);
}

:global(.ant-spin-nested-loading > div > .ant-spin) {
  background-color: #fff;
  border: 2px dashed map-get($colors, primaryGreyLighter);
}

.uploader-progress-bar {
  :global(.ant-progress-outer) {
    padding-right: 0;
  }

  :global(.ant-progress-bg) {
    height: 4px !important;
  }
}

.uploader {
  display: block;
  cursor: pointer;
  height: 100%;
  border: 2px dashed map-get($colors, primaryGreyLighter);
  position: relative;
  width: 100%;

  &.drag-over {
    background-color: map-get($colors, secondaryBackground);
  }

  .file-icon {
    font-size: 5rem;
  }

  .uploader-footer {
    float: left;
    width: 100%;
  }

  .uploader-label {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: map-get($colors, primaryGreyDarker);
    padding: 0 0.5rem;
    color: map-get($colors, primaryAlt);
    z-index: 99;
  }

  .uploader-status {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;

    :global(.istox-message.flat.info) {
      background-color: #ebf5f7;
    }

    :global(.istox-message.flat.disabled) {
      background-color: #f2f2f2;
    }

    :global(.istox-message .content) {
      padding: 0.3rem 0.5rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &.disabled {
    border: 0;
  }

  input {
    display: none !important;
  }

  & img,
  & .icon {
    pointer-events: none;
  }

  .icon {
    color: map-get($colors, primaryGreyDark);
    font-size: 5rem;
    color: map-get($colors, info);
  }

  .check {
    position: absolute;
    bottom: -13px;
    font-size: 3rem;
    right: -17px;
    color: map-get($colors, success);
    font-size: 3rem;
  }

  img {
    opacity: 1;
    max-height: 100%;
    max-width: 100%;
  }
}

.error {
  .uploader {
    border: 2px dashed map-get($colors, danger);
    background-color: rgba(220, 53, 69, 0.1);
  }
}
