.istox-footer {
  background-image: $headerBackground;
  padding: 3rem 3rem;
  color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.istox-footer .icon-container {
  display: flex;
  font-size: 2.5rem;
}

.istox-footer .icon-container > div {
  margin-right: 30px;
}

.istox-footer .icon-container > div:last-child {
  margin-right: 0px;
}

.istox-footer .contact-container {
  margin-top: 10px;
}

.istox-footer .copyright-container {
  margin-top: 10px;
  font-size: 0.8rem;
}
