::placeholder {
  color: map-get($colors, primaryGreyDark);
}

.ant-input::placeholder {
  color: map-get($colors, primaryGreyDark);
}

.ant-input {
  line-height: 37px;
  background-color: inherit;
}

.ant-input[disabled],
.ant-input-number-disabled {
  color: map-get($colors, primaryGreyDarker);
  background-color: inherit;
  cursor: not-allowed;
}

.ant-input-prefix {
  left: 0.5rem !important;
  color: map-get($colors, primaryGrey) !important;
}

.ant-input-affix-wrapper .ant-input-suffix {
  right: 0.5rem !important;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 2rem;
}

textarea {
  min-height: 38px;
  min-width: 100%;
  resize: none;
}

textarea[disabled] {
  color: map-get($colors, primaryGreyDarker) !important;
  cursor: not-allowed;
}

.form-controls-inner {
  .unit-padding {
    input {
      padding-right: 50px;
    }

    text-align: right;

    .ant-input-number-input {
      text-align: right;
    }
  }

  .unit {
    color: map-get($colors, primaryGreyDarker);
    position: absolute;
    right: 0;
    bottom: 8px;
    font-size: 0.857rem;
  }

  .ant-input-number {
    box-shadow: none !important;
    height: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    background-color: inherit;
    border: none !important;
    width: 100%;
    transition: none;

    .ant-input-number-handler-wrap {
      display: none !important;
    }
  }
}

.input-append {
  color: map-get($colors, primaryAlt);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-left: 1rem;
  width: 100%;

  &.custom {
    padding: 0px;
    background-color: none;
  }

  &.form-controls-wrapper.error {
    &.input-append {
      background-color: map-get($colors, danger);
    }
  }
}

.bordered {
  .unit {
    right: 0.5rem;
  }
}
