.form-controls-inner {
  flex: 1;
  position: relative;
  display: flex;
}

.istox-form {
  margin: auto;

  .form-control {
    height: auto;
    padding: 5px 0;
  }

  .main-form-controls-wrapper {
    margin: 0 0 3rem 0;
  }

  .ant-form label {
    display: flex;
    align-items: center;
  }

  .form-group {
    display: flex;
    margin-bottom: 0;

    > div {
      margin-right: 1rem;
      width: 100%;
    }
    > div:last-child {
      margin-right: 0;
    }
  }

  .istox-message {
    margin: 0.2rem 1px;
  }

  .fluid {
    input[type]:not([type='search']):not([type='url']):not([type='hidden']) {
      min-width: 100%;
    }
  }

  .horizontal {
    display: flex;
    width: 100%;
    .ant-checkbox-group-item {
      display: inline-block;
    }
  }
}

.old-value-active {
  opacity: 0.5;

  &.form-controls-inner {
    margin-bottom: 2rem;
  }
}

input,
.ant-input,
.ant-input-number-input,
.ant-input-affix-wrapper input,
.ant-input-affix-wrapper > .ant-input,
textarea,
.ant-select {
  border: 0;
  border-bottom: 1px solid map-get($colors, primaryGrey);
  box-shadow: none;
  border-radius: 0;
  height: auto;
  padding: 0;
  min-height: 37px;
  // font-size: 1.143rem;
  font-size: 1.071rem;
  color: map-get($colors, primaryDarkActive);
  font-weight: 400;
  background-color: transparent;
}

.bordered {
  input,
  .ant-input,
  .ant-input-number-input,
  .ant-input-affix-wrapper input,
  textarea,
  .ant-select {
    min-height: 35px;
    padding: 0 0.5rem;
    border: 1px solid map-get($colors, primaryGrey);
    font-size: 1rem;
  }
}

.ant-select:hover {
  border-bottom: 1px solid map-get($colors, secondary);
}

input:not(.ant-select-search__field):hover,
.ant-input:hover,
.ant-select-focused,
textarea:hover,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-bottom: 1px solid map-get($colors, secondary);
  box-shadow: none;
}

input:not(.ant-select-search__field):focus,
.ant-input:focus,
textarea:focus {
  border-bottom: 1px solid map-get($colors, secondary);
  box-shadow: none;
}

.bordered {
  input:not(.ant-select-search__field):hover,
  textarea:hover,
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border: 1px solid map-get($colors, secondary);
  }

  input:not(.ant-select-search__field):focus,
  textarea:focus {
    border: 1px solid map-get($colors, secondary);
  }
}

.main-form-controls-wrapper {
  .form-controls-wrapper {
    &.error {
      input,
      textarea,
      .ant-select,
      .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
        border-bottom: 1px solid map-get($colors, danger);
      }

      input.otp {
        border: 1px solid map-get($colors, danger);
      }
    }
  }

  &.bordered {
    .form-controls-wrapper {
      &.error {
        input,
        textarea,
        .ant-select,
        .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
          border: 1px solid map-get($colors, danger);
        }

        .ant-select {
          input {
            border: 0;
            padding: 0;
          }
        }
      }
    }
  }

  &.image-wrapper {
    height: 100%;
    .form-controls-wrapper {
      height: 100%;
    }
  }
}

.ant-switch-inner {
  .anticon {
    font-size: 1rem;
    vertical-align: -0.2em;
  }
}

.ant-switch-checked {
  background-color: map-get($colors, primary);
}

.ant-form-horizontal {
  .old-value-active {
    margin-bottom: 0;
  }
  .form-group {
    margin: 0;
  }
  .form-controls-wrapper {
    display: grid;
    grid-template-columns: 10rem auto;
    align-items: center;

    .form-controls-inner {
      .loading-container-wrapper {
        position: relative;
        display: flex;
        align-items: center;
      }
    }
  }
}

@include mq(medium) {
  .istox-form {
    &.ant-form-horizontal {
      .form-controls-wrapper {
        display: block;
      }
    }
    .form-group {
      display: block;
    }
    .form-controls-inner {
      > div {
        display: grid !important;
      }
    }
    .input-append.custom {
      width: auto !important;
      flex: unset;
    }
  }
}

.date-input {
  .ant-picker {
    width: 0px;
    height: 0px;
    padding: 0px;
    border: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    visibility: hidden;
  }
}

.date-input:hover > .ant-input {
  border-bottom: 1px solid map-get($colors, secondary);
}
