.grid-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &.equal-width {
    grid-template-columns: max-content auto max-content;

    > div {
      flex: auto;
    }
  }

  &.fitted {
    > div {
      padding: 0.1rem;
    }
  }
}

@include mq(big) {
  .grid-row {
    &.equal-width {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
  }
}

@include mq(large) {
  .grid-row {
    &.equal-width {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
  }
}

@include mq(medium) {
  .grid-row {
    &.equal-width {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
}
