.istox-header {
  background-image: linear-gradient(225deg, #3c77a0 0%, #1c4267 100%);
  padding: 0.7rem 15rem;
  color: #d8d8d8;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: max-content auto max-content;
}

.istox-header + * {
  margin-top: 100px;
}

.istox-header .icon {
  display: flex;
  align-items: center;
}

.istox-header .icon > img {
  height: 30px;
}

.istox-header ul.links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
}

.istox-header ul.links > li {
  float: left;
  font-size: 1.05rem;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.istox-header ul.links > li .underline {
  display: none;
}

.istox-header ul.links > li.selected {
  font-weight: bold;
}

.istox-header ul.links > li.selected .underline {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: map-get($colors, secondary);
  bottom: -8px;
  left: 0px;
}

.istox-header .user-action {
  border: 2px solid map-get($colors, secondary);
  border-radius: $borderRadius;
  font-size: 1.1rem;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}
.istox-header .user-action:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.65);
  color: map-get($colors, primaryDark);
  text-decoration: none;
}

.istox-header .user-action.after-login {
  padding: 0px 0px 0px 5px;
  font-size: 28px;
}

.istox-header .user-action.after-login .text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
  font-size: 1rem;
  font-weight: lighter;
}
