.istox-header {
  background-color: map-get($colors, primaryActive);
  color: map-get($colors, primaryAlt);
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: $headerHeight;

  .istox-wrapper {
    // grid-template-columns: repeat(auto-fill, minmax(100px, auto));
  }

  .notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $headerHeight;
    padding: 1px 0.5rem 0;
    position: relative;
    transition: 0.25s;

    .notification-unread {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: map-get($colors, secondary);
      position: absolute;
      right: 5px;
      top: 20px;
    }

    &:hover,
    &.active {
      cursor: pointer;
      background-color: map-get($colors, secondary);
      color: map-get($colors, primary);
      text-decoration: none;

      .notification-unread {
        background-color: map-get($colors, primaryAlt);
      }
    }

    .notification-menu {
      position: absolute;
      right: 0px;
      top: $headerHeight;
      width: 25rem;
      background-color: map-get($colors, primaryAlt);
      border-radius: 3px;
      padding: 1rem;
      box-shadow: 0 2px 4px 0 rgba(35, 36, 37, 0.3);
      color: map-get($colors, primaryDark);
      font-size: 1rem;
      overflow: auto;
      max-height: 80vh;

      .notification {
        padding: 1rem;
        border-top: 1px solid map-get($colors, primaryGrey);
      }
      .notification:hover {
        background-color: map-get($colors, primaryBackground);
        color: map-get($colors, primary);
      }
    }
  }

  .user-action {
    font-size: 1rem;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0.5rem;
    position: relative;
    height: $headerHeight;

    .icon {
      padding-top: 1px;
    }
    .text {
      .icon {
        padding-top: 2px;
      }
    }

    &:hover,
    &.active {
      cursor: pointer;
      background-color: map-get($colors, secondary);
      color: map-get($colors, primary);
      text-decoration: none;
    }

    &.after-login {
      padding: 0px 0.5rem;
      font-size: 2rem;
    }

    &.after-login .text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.5rem;
      font-size: 1rem;
      font-weight: lighter;
      text-transform: capitalize;
      max-width: 200px;
    }

    &.after-login .text span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .sub-menu {
      position: absolute;
      left: 0px;
      top: $headerHeight;
      min-width: 11.43rem;
      background-color: map-get($colors, primaryAlt);
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 rgba(35, 36, 37, 0.3);
    }

    .sub-menu a {
      color: map-get($colors, primaryDark);
      font-size: 1rem;
      display: block;
      padding: 10px;
    }

    .sub-menu a:hover {
      background-color: map-get($colors, primaryBackground);
      color: map-get($colors, primary);
    }
  }

  ul.links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;

    a {
      color: map-get($colors, primaryAlt);
    }

    a:hover {
      text-decoration: none;
    }
  }

  &.alt {
    background-color: map-get($colors, primaryAltActive);
    color: map-get($colors, primary);

    ul.links {
      li.selected .underline {
        background-color: map-get($colors, primaryBackground);
      }
      a {
        color: map-get($colors, primary);
      }
    }
  }

  &.transparent {
    background-color: transparent;
  }

  a.logo-anchor {
    padding: 0 0.5rem;
    display: flex;
  }
}

.istox-header .icon {
  display: flex;
  align-items: center;
}

.istox-header .icon > img {
  height: 30px;
}

.istox-header ul.links > li {
  float: left;
  font-size: 1rem;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.istox-header ul.links > li .underline {
  display: none;
}

.istox-header ul.links > li.selected {
  font-weight: bold;
}

.istox-header ul.links > li.selected .underline {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: map-get($colors, primaryAlt);
  bottom: -15px;
  left: 0px;
}
