.sub-menu {
  min-width: 11.43rem;
  background-color: map-get($colors, primaryAltActive);
  border-radius: 0;
  padding-bottom: 0.5rem;
}

.sub-menu a {
  color: map-get($colors, primaryDark);
  font-size: 1rem;
  display: block;

  > div {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

.sub-menu a:hover {
  background-color: map-get($colors, primaryBackground);
  color: map-get($colors, primary);
}

.notification-menu {
  width: 25rem;
  background-color: map-get($colors, primaryAlt);
  border-radius: 0;
  padding: 1rem;
  color: map-get($colors, primaryDark);
  font-size: 1rem;
  overflow: auto;
  max-height: 80vh;

  .notification {
    padding: 1rem;
    border-top: 1px solid map-get($colors, primaryGrey);
    background: map-get($colors, primaryAltActive);
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 1rem;
  }
  .notification-info {
    padding-left: 1rem;
  }
  .notification:hover {
    background-color: map-get($colors, primaryBackground);
    color: map-get($colors, primary);
  }
}

.istox-header {
  background-color: map-get($colors, primary);
  color: map-get($colors, primaryAlt);
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: $headerHeight;

  .user-icon {
    font-size: 2rem;
  }

  .notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $headerHeight;
    padding: 2px 1.071rem 0;
    position: relative;
    transition: $transitionLinear;

    .notification-unread {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: map-get($colors, secondary);
      position: absolute;
      right: 12px;
      top: 20px;
    }

    &:hover,
    &.active {
      cursor: pointer;
      // background-color: map-get($colors, secondary);
      // color: map-get($colors, primary);
      text-decoration: none;
      opacity: 0.7;

      .notification-unread {
        // background-color: map-get($colors, primaryAlt);
      }
    }
  }

  .user-action {
    font-size: 1rem;
    transition: $transitionLinear;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0.7143rem;
    position: relative;
    height: $headerHeight;

    .header-name {
      font-size: 0.857rem;
      font-weight: 600;
      color: map-get($colors, primaryDark);
    }

    .header-email {
      font-size: 0.7143rem;
      text-transform: lowercase;
      color: map-get($colors, primaryDark);
    }

    > .image .image-responsive {
      margin-right: 0.5rem;
      max-width: inherit;
    }

    &:hover,
    &.active {
      cursor: pointer;
      // background-color: map-get($colors, secondary);
      // color: map-get($colors, primary);
      opacity: 0.7;
      text-decoration: none;
    }

    &.after-login {
      padding: 0 0 0 1.429rem;
      font-size: 2rem;
    }

    &.after-login .text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.3571rem;
      font-size: 1rem;
      font-weight: lighter;
      text-transform: capitalize;
      max-width: 200px;
      line-height: 1.071rem;
    }

    &.after-login .text span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;

    a {
      color: map-get($colors, primaryAlt);
    }
  }

  &.alt {
    background-color: map-get($colors, primaryAltActive);
    color: map-get($colors, primaryGreyDarker);

    .links {
      .link.selected .underline {
        background-color: map-get($colors, primary);
      }
      .link {
        color: map-get($colors, primary);
      }
    }
  }

  &.transparent {
    background-color: transparent;
  }

  .logo-anchor {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.istox-header .icon {
  display: flex;
  align-items: center;
}

.istox-header .icon > img {
  height: 30px;
}

.istox-header .links .link {
  float: left;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: $transitionLinear;
  font-weight: bold;
  opacity: 0.5;
  color: map-get($colors, primaryAlt);
}

.istox-header .links .link.selected,
.istox-header .links .link:hover {
  opacity: 1;
}

.logout-button .button {
  color: map-get($colors, danger) !important;
}
