.information-container {
  border-radius: 0;
  padding-top: 20px;
  top: 10px;
  padding-left: 30px;
  padding-bottom: 20px;

  &.primary {
    background-color: map-get($colors, primaryBackground);
    border: 2px solid map-get($colors, primary);
  }

  &.secondary {
    background-color: map-get($colors, secondaryBackground);
    border: 2px solid map-get($colors, secondary);
  }

  &.info {
    background-color: map-get($colors, infoBackground);
    border: 2px solid map-get($colors, info);
  }

  &.disabled {
    background-color: map-get($colors, primaryGreyLighter);
    border: 2px solid map-get($colors, primaryGreyDarker);
  }

  &.light {
    background-color: map-get($colors, primaryAlt);
    border: 2px solid map-get($colors, primaryGreyDarker);
  }

  &.dark {
    background-color: map-get($colors, primaryDarkActive);
    border: 2px solid map-get($colors, primaryDarkActive);
    color: map-get($colors, primaryAlt);
  }

  &.success {
    background-color: map-get($colors, successBackground);
    border: 2px solid map-get($colors, success);
  }

  &.warning {
    background-color: map-get($colors, warningBackground);
    border: 2px solid map-get($colors, warning);
  }

  &.dark-warning {
    background-color: map-get($colors, darkWarningBackground);
    border: 2px solid map-get($colors, darkWarning);
  }

  &.danger {
    background-color: map-get($colors, dangerBackground);
    border: 2px solid map-get($colors, danger);
  }

  .title {
    color: map-get($colors, primaryGreyDark);
  }

  .subtitle {
    font-weight: bold;
  }
}

.headline-container {
  border-radius: 0;
  color: map-get($colors, primaryAlt);
  z-index: 99;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;

  &.primary {
    background-color: map-get($colors, primary);
    border: 2px solid map-get($colors, primary);
  }

  &.secondary {
    background-color: map-get($colors, secondary);
    border: 2px solid map-get($colors, secondary);
  }

  &.info {
    background-color: map-get($colors, info);
    border: 2px solid map-get($colors, info);
  }

  &.disabled {
    background-color: map-get($colors, primaryGreyDarker);
    border: 2px solid map-get($colors, primaryGreyLighter);
  }

  &.light {
    background-color: map-get($colors, primaryAlt);
    border: 2px solid map-get($colors, primaryGreyDarker);
    color: map-get($colors, primaryDarkActive);
  }

  &.dark {
    background-color: map-get($colors, primaryDarkActive);
    border: 2px solid map-get($colors, primaryDarkActive);
    color: map-get($colors, primaryAlt);
  }

  &.success {
    background-color: map-get($colors, success);
    border: 2px solid map-get($colors, success);
  }

  &.warning {
    background-color: map-get($colors, warning);
    border: 2px solid map-get($colors, warning);
  }

  &.dark-warning {
    background-color: map-get($colors, darkWarning);
    border: 2px solid map-get($colors, darkWarning);
  }

  &.danger {
    background-color: map-get($colors, danger);
    border: 2px solid map-get($colors, danger);
  }
}
