.information-container {
  border-radius: 5px;
  padding-top: 20px;
  right: 10px;
  top: 10px;
  padding-left: 30px;
  padding-bottom: 20px;

  &.primary {
    background-color: map-get($colors, primaryBackground);
    border: 2px solid map-get($colors, primary);
  }

  &.secondary {
    background-color: map-get($colors, primaryGreyDarkBackground);
    border: 2px solid map-get($colors, primaryGreyDark);
  }

  &.info {
    background-color: map-get($colors, infoBackground);
    border: 2px solid map-get($colors, info);
  }


  &.disabled {
    background-color: map-get($colors, primaryDarkBackground);
    border: 2px solid map-get($colors, primaryDark);
  }


  &.success {
    background-color: map-get($colors, successBackground);
    border: 2px solid map-get($colors, success);
  }

  
  &.warning {
    background-color: map-get($colors, warningBackground);
    border: 2px solid map-get($colors, warning);
  }

  &.danger {
    background-color: map-get($colors, dangerBackground);
    border: 2px solid map-get($colors, danger);
  }
  
  .title {
    color: map-get($colors, primaryGreyDark);
  }

  .subtitle {
    font-weight: bold;
  }
}

.headline-container {
  border-radius: 5px;
  color: map-get($colors, primaryAlt);
  z-index: 99;
  padding-left: 5px;
  padding-right: 5px;

  &.primary {
    background-color: map-get($colors, primary);
    border: 2px solid map-get($colors, primary);
  }
  
  &.secondary {
    background-color: map-get($colors, primaryGreyDark);
    border: 2px solid map-get($colors, primaryGreyDark);
  }
  
  &.info {
    background-color: map-get($colors, info);
    border: 2px solid map-get($colors, info);
  }
  
  
  &.disabled {
    background-color: map-get($colors, primaryDark);
    border: 2px solid map-get($colors, primaryDark);
  }
  
  
  &.success {
    background-color: map-get($colors, success);
    border: 2px solid map-get($colors, success);
  }
  
  
  &.warning {
    background-color: map-get($colors, warning);
    border: 2px solid map-get($colors, warning);
  }

  &.danger {
    background-color: map-get($colors, danger);
    border: 2px solid map-get($colors, danger);
  }

}
