.icon-text {
  margin-left: 0.5rem;
}

.icon {
  display: inline-flex;
  font-size: 1rem;
  align-items: center;

  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    display: inline-flex;
    font-size: inherit;
    overflow: visible;
    align-self: center;
    width: 0.875em;
  }

  .isvg {
    display: inline-flex;
    font-size: inherit;
    overflow: visible;
    align-self: center;
    width: 0.875em;
  }

  &.medium {
    font-size: 1.286rem;
  }

  &.large {
    font-size: 1.571rem;
  }
}
