.icon {
  display: inline-flex;
  font-size: 1rem;
  align-items: center;

  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }

  svg {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    width: 0.875em;
  }

  &.medium {
    font-size: 1.286rem;
  }

  &.large {
    font-size: 2.5rem;
  }
}
