.item {
  border: 1px solid map-get($colors, primaryGrey);
  background: map-get($colors, primaryAlt);
  display: flex;
  align-items: center;
  border-radius: 0;
  margin-bottom: 1rem;
  padding: 1rem;

  &.basic {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  .item-title {
    padding-bottom: 1rem;
    font-size: 1.143rem;
    font-weight: 500;
  }

  .item-info {
    padding-left: 2rem;
    width: 100%;
  }

  img {
    padding: 1rem;
    flex: 0 0 auto;
    vertical-align: middle;
  }

  svg {
    flex: 0 0 auto;
    vertical-align: middle;
  }

  > div {
    min-width: 0;
    width: auto;
    display: block;
    margin-left: 0;
    -ms-flex-item-align: top;
    align-self: top;
  }

  .card {
    margin: 0 0.5rem;
  }
}
