.istox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 0;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;

  > div {
    color: map-get($colors, primary);
  }

  &.primary {
    color: map-get($colors, primary);
    background-color: map-get($colors, primaryBackground);
  }

  &.secondary {
    color: map-get($colors, secondary);
    background-color: map-get($colors, secondaryBackground);
  }

  &.disabled {
    color: map-get($colors, primaryGreyDarker);
    background-color: map-get($colors, primaryGreyLighter);
  }

  &.success {
    color: map-get($colors, success);
    background-color: map-get($colors, successBackground);
  }

  &.warning {
    color: map-get($colors, warning);
    background-color: map-get($colors, warningBackground);
  }

  &.info {
    color: map-get($colors, info);
    background-color: map-get($colors, infoBackground);
  }

  &.danger {
    color: map-get($colors, danger);
    background-color: map-get($colors, dangerBackground);
  }

  &.small-message {
    font-size: 0.85rem;
    padding: 0.1rem 0.3rem;
    border-radius: 0;
  }
}
