.link {
  cursor: pointer;
  font-style: inherit;
  text-decoration: none;
  font-weight: inherit;
  font-family: inherit;
  display: inline-block;
  // position: relative;

  &:hover {
    text-decoration: none;
    // &:after {
    //   width: 100%;
    //   content: '';
    //   display: block;
    //   border-bottom: 1px solid map-get($colors, primary);
    //   position: absolute;
    //   top: 1.2rem;
    //   left: 0;
    // }
  }

  &.underline {
    &:hover {
      text-decoration: underline;
    }
  }

  // &.medium {
  //   &:hover {
  //     &:after {
  //       top: 1.3rem;
  //     }
  //   }
  // }

  // &.large {
  //   &:hover {
  //     &:after {
  //       top: 1.5rem;
  //     }
  //   }
  // }

  &.primary {
    color: map-get($colors, primary);
  }

  &.secondary {
    color: map-get($colors, primaryGrey);
  }

  &.disabled {
    color: map-get($colors, primary);
    opacity: 0.5;
  }

  &.info {
    color: map-get($colors, info);
  }

  &.success {
    color: map-get($colors, success);
  }

  &.warning {
    color: map-get($colors, warning);
  }

  &.danger {
    color: map-get($colors, danger);
  }
}
