.link {
  font-size: 1rem;
  cursor: pointer;
  font-style: inherit;
  text-decoration: inherit;
  font-weight: 500;
  font-family: inherit;
  padding-bottom: 5px;

  :hover {
    //border-bottom: 1px solid map-get($colors, primary);
    text-decoration: underline;
  }

  &.medium {
    font-size: 1.286rem;
  }

  &.large {
    font-size: 1.571rem;
  }

  &.primary {
    color: map-get($colors, primary);
    :hover {
      border-bottom: 1px solid map-get($colors, primary);
    }
  }

  &.secondary {
    color: map-get($colors, primaryGrey);
    :hover {
      border-bottom: 1px solid map-get($colors, primaryGrey);
    }
  }

  &.disabled {
    color: map-get($colors, primary);
    opacity: 0.5;
    :hover {
      border-bottom: 1px solid map-get($colors, primary);
    }
  }

  &.info {
    color: map-get($colors, info);
    :hover {
      border-bottom: 1px solid map-get($colors, info);
    }
  }

  &.success {
    color: map-get($colors, success);
    :hover {
      border-bottom: 1px solid map-get($colors, success);
    }
  }

  &.warning {
    color: map-get($colors, warning);
    :hover {
      border-bottom: 1px solid map-get($colors, warning);
    }
  }

  &.danger {
    color: map-get($colors, danger);
    :hover {
      border-bottom: 1px solid map-get($colors, danger);
    }
  }

  &.basic {
    :hover {
      border-bottom: none;
    }
  }
}

.link:focus,
.link:active:focus,
.link.active:focus {
}
.link:active,
.link.active {
}
