.istox-message {
  display: inline-flex;
  justify-content: center;
  margin: 0;
  font-weight: 600;

  .content {
    display: flex;
    font-weight: 400;

    .icon {
      align-items: baseline;
      margin: 0.2rem 0.5rem 0 0;
    }
  }

  > div,
  .icon {
    color: map-get($colors, primary);
  }

  .label {
    background-color: map-get($colors, primary);
    padding: 0.6rem 0.6rem;
    border-radius: 0;
  }

  &.primary {
    > div,
    .icon {
      color: map-get($colors, primary);
    }

    .label {
      border: 1px solid map-get($colors, primary);
      background-color: map-get($colors, primary);
    }
  }

  &.secondary {
    > div,
    .icon {
      color: map-get($colors, secondary);
    }

    .label {
      border: 1px solid map-get($colors, secondary);
      background-color: map-get($colors, secondary);
    }
  }

  &.disabled {
    > div,
    .icon {
      color: map-get($colors, primaryGreyDarker);
    }

    .label {
      border: 1px solid map-get($colors, primaryGreyDarker);
      background-color: map-get($colors, primaryGreyDarker);
    }
  }

  &.light {
    > div,
    .icon {
      color: map-get($colors, primaryGrey);
    }

    .label {
      border: 1px solid map-get($colors, primaryGrey);
      background-color: map-get($colors, primaryAlt);
    }
  }

  &.dark {
    > div,
    .icon {
      color: map-get($colors, primaryDarkActive);
    }

    .label {
      border: 1px solid map-get($colors, primaryDarkActive);
      background-color: map-get($colors, primaryDarkActive);
    }
  }

  &.success {
    > div,
    .icon {
      color: map-get($colors, success);
    }

    .label {
      border: 1px solid map-get($colors, success);
      background-color: map-get($colors, success);
    }
  }

  &.warning {
    > div,
    .icon {
      color: map-get($colors, warning);
    }

    .label {
      border: 1px solid map-get($colors, warning);
      background-color: map-get($colors, warning);
    }
  }

  &.info {
    > div,
    .icon {
      color: map-get($colors, info);
    }

    .label {
      border: 1px solid map-get($colors, info);
      background-color: map-get($colors, info);
    }
  }

  &.danger {
    > div,
    .icon {
      color: map-get($colors, danger);
    }

    .label {
      border: 1px solid map-get($colors, danger);
      background-color: map-get($colors, danger);
    }
  }

  &.flat {
    background-color: map-get($colors, primary);
    border-radius: 0;

    .content {
      padding: 0.5rem 0.8rem;
    }

    &.primary {
      background-color: map-get($colors, primaryBackground);

      > div,
      .icon {
        color: map-get($colors, primary);
      }
    }

    &.secondary {
      background-color: map-get($colors, secondaryBackground);

      > div,
      .icon {
        color: map-get($colors, primaryDark);
      }
    }

    &.disabled {
      background-color: map-get($colors, primaryGreyLighter);

      > div,
      .icon {
        color: map-get($colors, primaryGreyDarker);
      }
    }

    &.light {
      background-color: map-get($colors, primaryAlt);

      > div,
      .icon {
        color: map-get($colors, primaryGrey);
      }
    }

    &.dark {
      background-color: map-get($colors, primaryDarkActive);

      > div,
      .icon {
        color: map-get($colors, primaryAlt);
      }
    }

    &.success {
      background-color: map-get($colors, successBackground);

      > div,
      .icon {
        color: map-get($colors, success);
      }
    }

    &.warning {
      background-color: map-get($colors, warningBackground);

      > div,
      .icon {
        color: map-get($colors, warning);
      }
    }

    &.info {
      background-color: map-get($colors, infoBackground);

      > div,
      .icon {
        color: map-get($colors, info);
      }
    }

    &.danger {
      background-color: map-get($colors, dangerBackground);

      > div,
      .icon {
        color: map-get($colors, danger);
      }
    }
  }

  &.outline {
    background-color: map-get($colors, primaryGrey);
    border-radius: 0;
    border-left: 3px solid map-get($colors, primaryGreyDark);
    .content {
      padding: 0.5rem 0.8rem;
    }

    &.primary {
      background-color: map-get($colors, primaryBackground);
      border-left: 3px solid map-get($colors, primary);
      > div,
      .icon {
        color: map-get($colors, primary);
      }
    }

    &.secondary {
      background-color: map-get($colors, secondaryBackground);
      border-left: 3px solid map-get($colors, secondary);
      > div,
      .icon {
        color: map-get($colors, primaryDark);
      }
    }

    &.disabled {
      background-color: map-get($colors, primaryGreyLighter);
      border-left: 3px solid map-get($colors, primaryGrey);
      > div,
      .icon {
        color: map-get($colors, primaryGreyDarker);
      }
    }

    &.light {
      background-color: map-get($colors, primaryAlt);
      border-left: 3px solid map-get($colors, primaryGrey);
      > div,
      .icon {
        color: map-get($colors, primaryGrey);
      }
    }

    &.dark {
      background-color: map-get($colors, primaryDarkBackground);
      border-left: 3px solid map-get($colors, primaryDarkActive);
      > div,
      .icon {
        color: map-get($colors, primaryDarkActive);
      }
    }

    &.success {
      background-color: map-get($colors, successBackground);
      border-left: 3px solid map-get($colors, success);
      > div,
      .icon {
        color: map-get($colors, success);
      }
    }

    &.warning {
      background-color: map-get($colors, warningBackground);
      border-left: 3px solid map-get($colors, warning);
      > div,
      .icon {
        color: map-get($colors, warning);
      }
    }

    &.info {
      background-color: map-get($colors, infoBackground);
      border-left: 3px solid map-get($colors, info);
      > div,
      .icon {
        color: map-get($colors, info);
      }
    }

    &.danger {
      background-color: map-get($colors, dangerBackground);
      border-left: 3px solid map-get($colors, danger);
      > div,
      .icon {
        color: map-get($colors, danger);
      }
    }
  }

  &.small-message {
    font-size: 0.85rem;
    padding: 0.1rem 0.3rem;
    border-radius: 0;
  }

  &.labeled {
    padding: 0;
    background-color: map-get($colors, primaryAlt);

    .content {
      width: 100%;
      border: 1px solid map-get($colors, primaryGrey);
      border-left: 0;
      padding: 0.5rem 3rem;
    }

    .icon {
      color: map-get($colors, primaryAlt);
    }

    &.light {
      .icon {
        color: map-get($colors, primaryGrey);
      }
    }
  }
}
