.istox-message {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  &.success {
    color: map-get($colors, success);
  }

  &.warning {
    color: map-get($colors, warning);
  }

  &.info {
    color: map-get($colors, info);
  }

  &.danger {
    color: map-get($colors, danger);
  }

  .icon {
    margin-right: 0.9rem;
    font-size: 1.3rem;
  }

  span {
    color: map-get($colors, primaryGreyDark);
  }
}
