.my-modal [role='document'] {
  border-radius: 3px;
}

.my-modal-body {
  padding: 0px;
}

.my-modal .close-button {
  color: #bbbbbb;
  position: absolute !important;
  right: 15px;
  top: 13px;
  cursor: pointer;
  z-index: 1;
}

.my-modal .close-button:hover {
  color: #000000;
}
