.istox-normal-toast-body {
  font-size: 1rem;
  margin: auto !important;
  width: 100%;
}

.istox-normal-toast-progress {
  font-size: 1rem;
  background: map-get($colors, primaryDark) !important;
}

.istox-normal-toast {
  min-height: auto !important;
  padding: 1rem !important;

  &.primary {
    background-color: map-get($colors, primary) !important;
    color: map-get($colors, primaryAlt) !important;
    opacity: 0.8;
  }

  &.secondary {
    background-color: map-get($colors, secondary) !important;
    color: map-get($colors, secondary) !important;
    opacity: 0.8;
  }

  &.info {
    background-color: map-get($colors, info) !important;
    color: map-get($colors, primaryAlt) !important;
    opacity: 0.8;
  }

  &.disabled {
    background-color: map-get($colors, primaryDark) !important;
    color: map-get($colors, primaryAlt) !important;
    opacity: 0.8;
  }

  &.success {
    background-color: map-get($colors, success) !important;
    color: map-get($colors, primaryAlt) !important;
    opacity: 0.8;
  }

  &.warning {
    background-color: map-get($colors, warning) !important;
    color: map-get($colors, primaryAlt) !important;
    opacity: 0.8;
  }

  &.danger {
    background-color: map-get($colors, danger) !important;
    color: map-get($colors, primaryAlt) !important;
    opacity: 0.8;
  }

  .main-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 1rem;
  }

  .item {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 10px;
  }

  .view-more {
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
  }

  .column {
    float: left;
  }

  .left {
    width: 20%;
  }

  .right {
    width: 80%;
    text-align: center !important;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
}

.istox-normal-toast a,
.istox-normal-toast a:hover,
.istox-normal-toast a:active {
  text-decoration: none !important;
}

.istox-normal-toast .item:last-of-type {
  margin-bottom: 0px;
}

.istox-normal-toast button {
  display: none !important;
}
