.pagination {
  .ant-pagination {
    display: flex;
  }
  .ant-pagination-options {
    justify-content: space-between;
    flex: 1 auto;
  }
  .ant-pagination-options-size-changer {
    float: right;
  }

  .ant-pagination-item {
    border: 0;
    border-radius: 0;

    a {
      font-weight: 500;
      color: map-get($colors, primaryDarkActive);
    }
  }

  .ant-pagination-item-active {
    border: 0;
    background-color: map-get($colors, primary);

    a {
      color: map-get($colors, primaryAlt);
    }
  }

  .ant-pagination-item,
  .ant-pagination-item-link {
    border-color: map-get($colors, primaryAltActive);
    color: map-get($colors, primaryDarkActive);

    &:hover {
      border-color: map-get($colors, primaryDarkActive);
      color: map-get($colors, primaryAlt);
      background-color: map-get($colors, primary);

      a {
        color: map-get($colors, primaryAlt);
      }
    }
  }

  .ant-pagination-options-quick-jumper {
    color: map-get($colors, primaryGreyDarker);
    font-size: 0;

    input {
      border-radius: 0;
      color: map-get($colors, primaryDarkActive);
      border-color: map-get($colors, primaryGreyLight);
      text-align: center;

      &:hover {
        border: 1px solid map-get($colors, primaryGreyDarker);
      }
      &:focus {
        box-shadow: none;
        border-color: map-get($colors, secondary);
      }
    }

    span {
      font-size: 1rem;
      float: left;
      color: map-get($colors, primaryGreyDarker);
    }
  }

  .ant-select-selection {
    border-radius: 0;
    border-color: map-get($colors, primaryGreyLight);
    color: map-get($colors, primaryGreyDarker);

    &:hover {
      border: 1px solid map-get($colors, primaryGreyDarker);
    }

    &:focus {
      border: 1px solid map-get($colors, primaryGreyDarker);
      box-shadow: none;
    }

    .ant-select-arrow {
      color: map-get($colors, primaryGreyDarker);
    }
  }

  .ant-select-dropdown {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 0px;
    border: 1px solid map-get($colors, primaryGreyLighter);
    z-index: 10;
    border-radius: 0;
    padding: 0.5rem;
  }

  .ant-select-dropdown-menu {
    border-radius: 0;
  }

  .ant-select-dropdown-menu-item {
    background-color: map-get($colors, primaryAlt);
    border-left: 3px solid map-get($colors, primaryAlt);

    &:hover {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, primaryDark);
      border-left: 3px solid map-get($colors, primaryDark);
    }
  }

  .ant-select-open .ant-select-selection {
    border: 1px solid map-get($colors, primaryGreyLight);
  }

  .ant-pagination-item-link-icon {
    color: map-get($colors, primaryGrey) !important;
  }

  &.outline {
    .ant-pagination-item,
    .ant-pagination-item-link {
      border: 1px solid map-get($colors, primaryGreyLight);
      color: map-get($colors, primaryGrey);
    }

    .ant-pagination-item-active {
      border: 1px solid map-get($colors, primary);
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    font-size: 1.2857142857142858rem;

    .anticon {
      vertical-align: -0.275rem;
    }
  }

  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: map-get($colors, primaryGrey);
  }

  .ant-select-selection--single .ant-select-selection__rendered {
    margin-right: 2.2rem;
  }

  .ant-select-dropdown-menu-item:first-child,
  .ant-select-dropdown-menu-item:last-child {
    border-left: 3px solid map-get($colors, primaryAltActive);
    border-radius: 0;

    &:hover {
      border-left: 3px solid map-get($colors, primaryDark);
    }
  }

  .ant-select-dropdown-menu-item {
    color: map-get($colors, primaryGreyDarker);
  }

  .ant-select-dropdown-menu-item-selected {
    color: map-get($colors, primaryDarkActive);
  }
}

:root .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
:root .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  font-size: 1rem;
  vertical-align: -0.15rem;
}
