.progress-bar {
  line-height: 16px;
}
.istox-progress {
  .progress {
    height: 15px;
    margin-bottom: 0px;

    &.success {
      .progress-bar {
        background-color: map-get($colors, success);
      }
    }
    &.info {
      .progress-bar {
        background-color: map-get($colors, info);
      }
    }
    &.warning {
      .progress-bar {
        background-color: map-get($colors, warning);
      }
    }
    &.danger {
      .progress-bar {
        background-color: map-get($colors, danger);
      }
    }
  }

  .progress-bar {
    transition: width 0.3s ease-in-out;
  }
}
