.ant-progress-bg {
  line-height: 1rem;
  transition: width $transitionLinear;
  background-color: map-get($colors, primary);
}
.istox-progress {
  .ant-progress-bg,
  .ant-progress-inner {
    border-radius: 0;
  }
  &.multi {
    display: flex;

    .ant-progress-show-info .ant-progress-outer {
      margin-right: 0;
      padding-right: 0;
    }

    .ant-progress-text {
      display: none;
    }
  }

  &.compact {
    .ant-progress-bg {
      height: 2px !important;
    }
  }

  &.gap {
    .ant-progress-bg {
      border-right: 2px solid map-get($colors, primaryAlt);

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  .primary {
    .ant-progress-bg {
      background-color: map-get($colors, primary);
    }
  }

  .secondary {
    .ant-progress-bg {
      background-color: map-get($colors, secondary);
    }
  }

  .disabled {
    .ant-progress-bg {
      background-color: map-get($colors, primaryGreyDark);
    }
  }

  .light {
    .ant-progress-bg {
      background-color: map-get($colors, primaryGrey);
    }
  }

  .dark {
    .ant-progress-bg {
      background-color: map-get($colors, primaryDarkActive);
    }
  }

  .info {
    .ant-progress-bg {
      background-color: map-get($colors, info);
    }
  }

  .success {
    .ant-progress-bg {
      background-color: map-get($colors, success);
    }
  }

  .warning {
    .ant-progress-bg {
      background-color: map-get($colors, warning);
    }
  }

  .dark-warning {
    .ant-progress-bg {
      background-color: map-get($colors, darkWarning);
    }
  }

  .danger {
    .ant-progress-bg {
      background-color: map-get($colors, danger);
    }
  }
}
