.progress-bar {
  line-height: 1rem;
  transition: width 0.3s ease-in-out;
  background-color: map-get($colors, primaryGreyDark);
}
.istox-progress {
  .progress {
    height: 1rem;
    margin-bottom: 0;

    &.gap {
      .progress-bar {
        border-right: 2px solid #fff;

        &:last-of-type {
          border-right: 0;
        }
      }
    }

    &.success {
      .progress-bar {
        background-color: map-get($colors, success);
      }
    }
    &.info {
      .progress-bar {
        background-color: map-get($colors, info);
      }
    }
    &.warning {
      .progress-bar {
        background-color: map-get($colors, warning);
      }
    }
    &.danger {
      .progress-bar {
        background-color: map-get($colors, danger);
      }
    }

    .success {
      background-color: map-get($colors, success);
    }
    .info {
      background-color: map-get($colors, info);
    }
    .warning {
      background-color: map-get($colors, warning);
    }
    .danger {
      background-color: map-get($colors, danger);
    }
  }
}
