.rating {
  display: flex;
  justify-content: space-between;

  .rating-signal {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid map-get($colors, primaryGreyDark);
    background-color: map-get($colors, primaryAlt);

    &.primary {
      border: none;
      background-color: map-get($colors, primary);
    }

    &.secondary {
      border: none;
      background-color: map-get($colors, secondary);
    }

    &.disabled {
      border: none;
      background-color: map-get($colors, primaryGrey);
      opacity: 0.7;
    }

    &.light {
      border: none;
      background-color: map-get($colors, primaryGreyLighter);
    }

    &.dark {
      border: none;
      background-color: map-get($colors, primaryDarkActive);
    }

    &.success {
      border: none;
      background-color: map-get($colors, success);
    }
    &.info {
      border: none;
      background-color: map-get($colors, info);
    }
    &.warning {
      border: none;
      background-color: map-get($colors, warning);
    }
    &.dark-warning {
      border: none;
      background-color: map-get($colors, darkWarning);
    }
    &.danger {
      border: none;
      background-color: map-get($colors, danger);
    }
  }
}
