.istox-table {
  border: 1px solid map-get($colors, primaryGreyLight);
  border-radius: 0;
  background-color: map-get($colors, primaryAlt);
  width: 100%;
  overflow-x: auto;

  input[type='checkbox'],
  input[type='radio'] {
    margin: -10px 0 0;
  }

  &.basic {
    border: none;
    border-radius: 0;
  }

  &.striped {
    tr:not(:first-child) {
      border-top: 1px solid map-get($colors, primaryGreyLight);
    }
  }

  table {
    width: 100%;
    thead {
      border-bottom: 1px solid map-get($colors, primaryGreyLight);
    }
  }

  td.min {
    width: 1%;
    white-space: nowrap;
  }
}

.istox-table th {
  font-size: 0.8571rem;
  padding: 1rem;
  color: map-get($colors, primaryDark);
  font-weight: 600;
}

.istox-table td {
  padding: 1rem;
  font-size: 1rem;
  color: map-get($colors, primaryGreyDarker);
  font-weight: lighter;
}

.istox-table tr {
  td,
  th {
    &:first-of-type {
      padding-left: 0px;
    }

    &:last-of-type {
      padding-right: 0px;
    }
  }
}

.istox-table tbody tr {
  transition: background-color $transitionLinear;

  &.row-header {
    color: map-get($colors, primaryGreyDark);

    td {
      padding: 4px 1rem;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
}

.istox-table .action-container {
  text-align: right;
  position: relative;
}

.istox-table tbody tr .action:hover {
  background-color: white;
  color: map-get($colors, primary);
}

.istox-table .action-container > div > .loading-container {
  width: 30px;
  right: 10px;
  left: auto;
}
