:global(.ant-tabs-extra-content) {
  line-height: inherit;
}

// :global(.ant-tabs-ink-bar-animated) {
//   min-width: 68px;
// }

.istox-tabs {
  .ant-tabs-nav {
    color: map-get($colors, primaryGrey);
  }

  .ant-tabs-ink-bar {
    border: 1px solid map-get($colors, primaryDarkActive);
    background-color: map-get($colors, primaryAlt);
  }

  .ant-tabs-tab:hover,
  .ant-tabs-tab-active {
    color: map-get($colors, primaryDarkActive) !important;
  }

  &.primary {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, primary);
    }
  }

  &.secondary {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, secondary);
    }
  }

  &.disabled {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, primaryGrey);
    }
  }

  &.light {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, primaryGreyLight);
    }
  }

  &.dark {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, primaryDarkActive);
    }
  }

  &.info {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, info);
    }
  }

  &.success {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, success);
    }
  }

  &.warning {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, warning);
    }
  }

  &.danger {
    .ant-tabs-ink-bar {
      border: 1px solid map-get($colors, danger);
    }
  }
}
