.istox-tabs-container {
  display: flex;
  flex: 1;

  .istox-tabs {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 100%;

    [role='presentation'] {
      background-color: white;
      border-left: 1px solid map-get($colors, primaryGrey);
      border-top: 1px solid map-get($colors, primaryGrey);
      border-bottom: 1px solid map-get($colors, primaryGrey);
      margin-bottom: -1px;
    }

    [role='presentation']:last-of-type {
      border-right: 1px solid map-get($colors, primaryGrey);
    }

    [role='presentation'].active {
      border-bottom: 1px solid transparent;
    }

    [role='presentation'].active a {
      font-weight: bold;
    }

    .nav-tabs a {
      border-radius: 0px;
      color: map-get($colors, primaryGreyDark);
      padding: 6px 50px;
    }

    .nav-tabs a:hover {
      border-bottom: 1px solid transparent !important;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      border: 1px solid transparent;
      background-color: map-get($colors, primary);
      color: map-get($colors, primaryAlt);
    }

    .nav-tabs > li > a {
      margin-right: 0px;
      font-weight: lighter;
    }

    .tab-content {
      background-color: white;
      border: 1px solid map-get($colors, primaryGrey);
      flex: 1;
    }

    .nav-tabs {
      border-bottom: 0px;

      a {
        line-height: 45px;
        height: 60px;
      }
    }

    .tab-content {
      .tab-pane {
        padding: 1rem;
      }
    }
  }

  .middle {
    ul {
      text-align: center;
      li {
        display: inline-block;
        float: none;
      }
    }
  }

  .vertical {
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      background-color: map-get($colors, primaryAlt);
      color: map-get($colors, primary);
    }

    a {
      height: auto !important;
    }
  }
}
