.istox-toast-body {
  font-size: 1rem;
  margin: auto !important;
  width: 100%;
}

.istox-toast-progress {
  font-size: 1rem;
  background: map-get($colors, primaryDark) !important;
}

.istox-toast {
  min-height: auto !important;
  background-color: map-get($colors, primary) !important;
  padding: 1rem !important;

  button {
    display: none !important;
  }

  .block-transaction-receipt {
    color: white !important;
  }

  .main-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 1rem;
  }

  .value {
    font-weight: lighter;
    font-size: 1rem;
  }

  .hash {
    font-weight: lighter;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 4px;
  }

  .item {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 10px;
  }

  .view-more {
    font-size: 0.8rem;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
  }
}

.istox-toast a,
.istox-toast a:hover,
.istox-toast a:active {
  text-decoration: none !important;
}

.istox-toast .item:last-of-type {
  margin-bottom: 0px;
}
