// $base: get("base");
// $spacing: get("spacing");
// $grid: get("grid");
// $breakpoints: get("breakpoints");
$colors: get('colors');
$borderRadius: get('borderRadius');
$boxShadow: get('boxShadow');
$transitionLinear: get('transitionDuration') linear;
$headerHeight: get('headerHeight');
$headerBackground: linear-gradient(225deg, #3c77a0 0%, #1c4267 100%);
